<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listings</h1>
    <form method="GET" action="/listings/new">
        <button type="submit">create new  Listing</button>
    </form>
<ul>
        <% for(let listing of listings) { %>
            <li>
                <a href="/listings/<%=listing._id%>"><%= listing.title %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>
<ul> 
