<% layout('layouts/boilerplate') -%>
<div class="row mt-3">
<div class="col-8 offset-2">
      <!-- <br><br> -->
    <H1>create new listing</H1>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input type="text" placeholder="Enter listing title" name="listing[title]" id="title"  class="form-control"required></div>
        <div class="mb-3">
             <label for="description" class="form-label">description</label>
        <textarea name="listing[description]" id="description" cols="20" rows="5" required placeholder="Enter listing description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
             <label for="image" class="form-label">IMAGE URL </label>
         <input type="text" placeholder="Enter the image url" name="listing[image]" id="image" class="form-control" required>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
        <label for="Price" class="form-lable">Price</label>
         <input type="number" placeholder="Enter listing price" name="listing[price]" id="price" class="form-control" required>
    </div>
 <div class="mb-3 col-md-8">
        <label for="Location" class="form-lable">Location</label>
        <input type="text" placeholder="Enter listing location" name="listing[location]" id="location" class="form-control" required>
        </div>
        </div>
       
      
        <div class="mb-3">
            <label for="Country" class="form-lable">Country</label>
        <input type="text" placeholder="Enter listing country" name="listing[country]" id="country" class="form-control" required>
        </div>
          <br>
        <button type="submit" class="btn btn-primary color-button mb-3">create listing</button> 
        
    </form>
</div>
</div>
