<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create new listing</h1>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="title"><br><br>
        <textarea name="listing[description]" placeholder="listing description"></textarea><br><br>
        <input type="text" name="listing[image]" placeholder="image URL"><br><br>
        <input type="number" name="listing[price]" placeholder="price"><br><br>
        <input type="text" name="listing[location]" placeholder="location"><br><br>
        <input type="text" name="listing[country]" placeholder="country"><br><br>
        <button type="submit">Add</button>
        
    </form>
</body>
</html>